<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wener.cbhistory.persistence.mybatis.mappers.CommentMapper">

    <cache/>

    <sql id="table-name">cbhistory_comment</sql>
    <sql id="table-id">tid</sql>

    <resultMap id="Result" type="Comment">
        <id property="tid" column="tid"/>
        <result property="pid" column="pid"/>
        <result property="sid" column="sid"/>
        <result property="date" column="date"/>
        <result property="name" column="name"/>
        <result property="hostName" column="hostName"/>
        <result property="comment" column="comment"/>
        <result property="pros" column="pros"/>
        <result property="cons" column="cons"/>
        <result property="userId" column="userId"/>
        <result property="icon" column="icon"/>
    </resultMap>

    <select id="findAll" resultMap="Result">
        select * from <include refid="table-name"/>
    </select>

    <select id="findById"
            parameterType="long"
            resultMap="Result"
            useCache="true">
        select * from <include refid="table-name"/>
        where <include refid="table-id"/> = #{id}
    </select>

    <select id="findByIds" parameterType="list" resultMap="Result" useCache="true">
        select * from <include refid="table-name"/>
        where <include refid="table-id"/> in
        <foreach collection="list"
                 item="id"
                 separator=","
                 open="("
                 close=")">
            #{id}
        </foreach>
    </select>

    <select id="count" resultType="long">
        select count(<include refid="table-id"/>) from <include refid="table-name"/>
    </select>

    <delete id="deleteById" parameterType="long">
        delete from <include refid="table-name"/>
        where <include refid="table-id"/>=#{id}
    </delete>

    <delete id="deleteByIds" parameterType="list">
        delete from <include refid="table-name"/>
        where <include refid="table-id"/> in
        <foreach collection="list"
                 item="id"
                 separator=","
                 open="("
                 close=")">
            #{id}
        </foreach>
    </delete>

    <!--需要具体类型参数的方法-->
    <delete id="delete" parameterType="Comment">
        delete from <include refid="table-name"/>
        where <include refid="table-id"/>=#{<include refid="table-id"/>}
    </delete>
</mapper>