<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
        <typeAlias alias="User" type="me.wener.pratices.mybatis.model.User"/>
        <package name="me.wener.pratices.mybatis.model"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="me.wener.pratices.mybatis.JodaDateTimeHandler"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>

        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="me/wener/pratices/mybatis/UserMapper.xml"/>-->
        <!--<mapper resource="me.wener.pratices.mybatis.CustomerMapper"/>-->
        <!--<package name="me.wener.pratices.mybatis"/>-->
        <mapper class="me.wener.pratices.mybatis.mapper.CustomerMapper"/>
        <mapper class="me.wener.pratices.mybatis.mapper.UserMapper"/>
        <mapper class="me.wener.pratices.mybatis.mapper.OrderMapper"/>
        <!--<mapper resource="me/wener/pratices/mybatis/mapper/BaseMapper.xml"/>-->
        <mapper resource="me/wener/pratices/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="me/wener/pratices/mybatis/mapper/CustomerMapper.xml"/>
        <mapper resource="me/wener/pratices/mybatis/mapper/OrderMapper.xml"/>
        <!--<package name="me.wener.pratices.mybatis.mapper"/>-->
    </mappers>
</configuration>