<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--<typeAliases>-->
        <!--<typeAlias type="me.wener.cbhistory.domain.entity.Article" alias="Article"/>-->

        <!--<package name="me.wener.cbhistory.domain.entity"/>-->
    <!--</typeAliases>-->
    <!--<typeHandlers>-->
        <!--<typeHandler handler="me.wener.cbhistory.persistence.mybatis.DateTimeTypeHandler"/>-->
        <!--<typeHandler handler="me.wener.cbhistory.persistence.mybatis.LocalDateTimeTypeHandler"/>-->
    <!--</typeHandlers>-->
    <mappers>
        <!--<package name="me.wener.cbhistory.persistence.mybatis.mappers"/>-->
        <!--<mapper class="me.wener.cbhistory.persistence.mybatis.mappers.ArticleMapper"/>-->
        <!--<mapper class="me.wener.cbhistory.persistence.mybatis.mappers.CommentMapper"/>-->
        <!--<mapper resource="me/wener/cbhistory/persistence/mybatis/BaseMapper.xml"/>-->
        <!--<mapper resource="me/wener/cbhistory/persistence/mybatis/ArticleMapper.xml"/>-->
        <mapper resource="me/wener/cbhistory/persistence/mybatis/mappers/Core.xml"/>

    </mappers>
</configuration>